#container {
  float: center;
  border: 0mm;
  box-shadow: brown;
}

.card-mb-3 {
  background-color: aquamarine;
  height: auto;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  word-wrap: break-word;
  padding: 10px;
  border: 4px solid #81062b;
  border-radius: 5px;
}

/* Contact Page */
